---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Hothaifa Jaber, a front-end software developer from Yemen.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Laravel</li>
        <li>Vue.js</li>
        <li>Astro</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the job,
        even if it’s not on my usual list.
        My goal is to find the right solution for each project.
    </p>
    <p class="text-sm font-light">
      I enjoy building intuitive, visually compelling systems that blend functionality with design seamlessly.
    </p>
  </div>
</Card>
